.permission-tab {
    border: 1px solid #ddd;
    height: 350px;
    overflow: hidden;
    .permission-title {
      line-height: 100px;
      font-size: 12px;
    }
  }
  .permission-line {
    border-bottom: 1px dashed #ddd;
    margin: 10px 0px;
  }
  .permission-top-line {
    margin: 10px 0px;
  }
  .app-search {
    margin-bottom: 5px;
    .app-search-icon {
      font-size: 1rem;
      color: #39f;
      display: inline-block;
      cursor: pointer;
    }
  }
  .member-body {
    overflow-y: auto;
    height: 100px;
  }
  .user-page {
    margin: 10px;
    overflow: hidden;
  }
  
  .ivu-icon-ios-close-empty {
    color: #fff;
  }
   .action{
        &-select-permission{
            margin: 10px 0px;
        }
   }