.check-list{
    &-title{
        text-align: center;
        margin: 10px 0px;
    }
    &-btn{
        margin: 5px 0px;
        background-color: rgb(0, 150, 136);
        border-radius: 0px;
    }
    &-table{
        margin: 0px 100px;
        background-color:#fff;
        padding:10px 20px;
    }
}
.user-page {
    margin: 10px;
    overflow: hidden;
  }