.notificas{
    background-color: #ffffff;
    height: 100%;
    width: 100%;
    font-size: 14px;
    overflow: hidden;
    &-layout{
        height: 100%;
        width: 100%;
        &-sider{
            min-width: 260px;
            
            &-search{
                height: 50px;
                border-bottom: 1px solid #ddd;
                padding: 10px;
                background-color: #e6ecf0;
                input{
                    border-radius: 5px;
                }
            }
            &-navs{
                overflow-y: auto;
                height: 100%;
                border-left: 1px solid #ddd;
            }
            &-item{
                text-align: left;
                padding: 10px;
                border-bottom: 1px solid #ddd;
                position: relative;
                cursor: pointer;
                &-describe{
                    display:inline-table;
                    vertical-align: top;
                    &-title{
                        font-size: 14px;
                    }
                    &-txt{
                        color: rgb(97, 103, 118);
                        overflow: hidden;
                        text-overflow:ellipsis;
                        white-space:nowrap;
                        width: 150px;
                        font-size: 12px;
                        :first-child{
                            color: #616776;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            white-space: nowrap;
                            width: 150px;
                            font-size: 12px;
                            display: inline-block;
                        }
                    }

                    &-time{
                        position: absolute;
                        right: 5px;
                    }
                }
                img{
                    margin-right: 16px;
                }
                &-msgcount{
                    position: absolute;
                    top: 1px;
                    width: 20px;
                    background-color: red;
                    text-align: center;
                    color: white;
                    border-radius: 50%;
                    left: 50px;
                }
            }
            // &-item:hover{
            //     background-color: #f6f6f6;
            // }
        }
        &-content{
            min-width: 500px;
            height: 100%;
            border: 1px solid #ddd;
            &-header{
                border-bottom: 1px solid rgb(220, 222, 226);
                // background-color: #f0f0f0;
                text-align: left;
                padding: 5px;
                 height: 50px;
                 font-size: 16px;
            }
            &-notificwin{
                height: 100%;
                &-msg{
                    border-right: 1px solid #ddd;
                    height: 100%;
                    background-color: #e6ecf0;
                    &-list{
                        border-bottom: 1px solid #dddddd;
                        height: 100%;
                        max-height: 100%;
                        overflow-y: auto;
                        // background-color: #e6ecf0;
                        padding: 5px 10px;
                        &-item{
                            text-align: left;padding: 15px 0px;
                        }
                    }
                }

                &-orderlist{
                    height: 100%;
                }
            }
        }
    }


    &-item{
        text-align: left;
        padding: 10px 12px 10px 12px;
        margin-bottom: 5px;
        position: relative;
        &-img{
            max-width: 50px;
            display: inline-block;
            padding: 0;
            vertical-align: top;
            margin-right: 20px;
            border: 1px solid #ddd;
            border-radius: 50%;
        }
        &-content{
            display: inline-block;
            // max-width: 450px;
                width: 85%;
            &-title{
               span{
                    margin-top: 5px;
                    font-size: 14px;
                    letter-spacing: 0.8px;
                    font-weight: 600;
                    color: #35485E;
                    text-transform: uppercase;
                    p{
                        display: -webkit-inline-box;
                    }
               }
            }
            &-subtitle{
                margin-top: 5px;
            }
            &-txt{
                padding: 5px;
                margin-top: 10px;
                border: solid 1px #e6ecf0;
                cursor: pointer;
                border-radius: 4px;
            }
            &-txt:hover{
                background-color: #e6ecf0;
            }
        }
        &-status{
            position: absolute;
            width: 0;
            height: 0;
            top: 0;
            right: 0;
            border-width: 15px 0 0 15px;
            border-style: solid;
            border-color: red transparent transparent;
        }
    }

}
.msg-comment{
    background-color: #fff;
    margin-bottom: 10px;
    padding: 0px 15px;
    border-radius: 5px;
    border: 1px solid #ddd;
    width: 60%;
    margin: 0 auto;

    &-title{
        padding: 5px 0px;
        span{
            font-size: 12px;
            color: #607D8B;
        }
        i{
            font-weight: 600;
        }
    }

    &-content{
        border-bottom: 1px solid #ddd;
        font-size: 12px;
        padding: 5px 0px;
    }

    &-href{
        padding: 5px 0px;
        cursor: pointer;
        a{
            color: #607D8B;
        }
    }
}


.active{
    background-color: #e6ecf0;
}
/*滚动条样式*/
.notificasscrollbar::-webkit-scrollbar {/*滚动条整体样式*/
    width: 4px;     /*高宽分别对应横竖滚动条的尺寸*/
    height: 4px;
}
.notificasscrollbar::-webkit-scrollbar-thumb {/*滚动条里面小方块*/
    border-radius: 5px;
    -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
    background: rgba(0,0,0,0.2);
}
.notificasscrollbar::-webkit-scrollbar-track {/*滚动条里面轨道*/
    -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
    border-radius: 0;
    background: #e6ecf0;
}


.comimg:hover .comimg-cover{
        display: block;
}

.comimg{
        display: inline-block;
        width: 60px;
        height: 60px;
        text-align: center;
        line-height: 60px;
        border: 1px solid transparent;
        border-radius: 4px;
        overflow: hidden;
        background: #fff;
        position: relative;
        box-shadow: 0 1px 1px rgba(0,0,0,.2);
        margin-right: 4px;
    img{
        width: 100%;
        height: 100%;
    }

    &-cover{
        display: none;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: rgba(0,0,0,.6);

        i{
        color: white;
        font-size: 20px;
        cursor: pointer;
        margin: 0 2px;
    }
    
        
    }
}