.files{
    height: 100%;
    overflow-y: auto;

    &-header{
        display: flex;
        justify-content: space-around;
    }

    &-item{
        padding: 5px;

        
        /deep/ .file-content{
            display: inline-block;
            cursor: pointer;
            width: 200px;
            border: 1px solid #ddd;
            border-radius: 3px;
            padding: 5px;
            margin: 3px;
            background-color: white;

            &-info{
                display: inline-table;
                vertical-align: top;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                p{
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                }
            }
        }   
    }
    &-item:hover{
        background-color: #ddd;
    }
}