.demo-upload-list-cover {
    display: none;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.6);
  }
  .demo-upload-list:hover .demo-upload-list-cover {
    display: block;
  }
  .demo-upload-list-cover i {
    cursor: pointer;
  }
  .demo-upload-list{
    img{
      width: 128px;
    }
  }
  .info{
      .info-detail{
        background-color: #fff;
        width: 38%;
        min-width: 400px;
        margin: 0px auto 60px;
        padding-top: 12px;
        padding-left: 50px;
        box-shadow: 0px 1px 9px #ddd;
        .ivu-form .ivu-form-item-label{
          font-weight: bold;
          font-size: 14px;
        }
      }
      &-btn{
        width: 100%;
        height: 50px;
        background-color: #fff;
        text-align: center;
        padding: 7px 11px;
        position: fixed !important;
        z-index: 10;
        bottom: 0px;
        border-bottom: 5px solid rgb(102, 102, 102) !important;
        border-top: 1px solid #ddd;
      }
  }
  .info-line{
    height:3px;
    width: 117%;
    background-color:#ddd;
    margin-left: -50px;
  }
  .info-edit{
    .ivu-input{
      border-bottom-style: none !important;
    }
    .ivu-select-selection{
      border-bottom-style: none !important;
    }
    .ivu-icon{
      display: none !important;
    }
  }
  .ivu-upload-drag{
    border:1px dashed #767678 !important;
  }
  .ivu-form-item{
    margin-bottom: 14px;
  }
  .is-required{
    .ivu-form-item-required .ivu-form-item-label:before{
      color:transparent !important;
    }
  }
  .user-page {
    margin: 10px;
    overflow: hidden;
  }
  .app-search {
    margin-bottom: 5px;
    .app-search-icon {
      font-size: 1rem;
      color: #39f;
      display: inline-block;
      cursor: pointer;
    }
  }
  .ivu-modal-close .ivu-icon-ios-close{
    color: #fff;
  }

  .rfd-principal-table .ivu-table-row-highlight td{
  background-color: #81b2e59c !important;
}
  