.organization-wrap {
    background-color: #fff;
    width: 100%;
    &-header {
      height: 44px;
      line-height: 44px;
      width: 100%;
      padding: 0 15px;
      border-bottom: 1px solid #e8e8e8;
  
      h2 span:first-child {
        color: red;
      }
    }
  
    &-action {
      height: 44px;
      line-height: 44px;
      width: 100%;
      padding: 0 15px;
      border-bottom: 1px solid #e8e8e8;
    }
  
    &-tabs {
      position: relative;
      .ivu-tabs-nav {
        float: right !important;
      }
  
      .ivu-tabs-bar {
        margin-bottom: 0px !important;
        border-bottom: 1px solid #e8e8e8 !important;
      }

      .ivu-tabs-nav-scroll {
        background-color: #fff;
      }
  
      .ivu-tabs-tabpane {
        background-color: #d5d5d5;
        overflow: auto !important;
      }
    }
  
    .rfd-tab-container-common {
      margin: 20px auto;
      width: 75%;
      height: 100%;
      background-color: #fff;
    }
  
    .baseinfo-container {
      padding: 20px 10%;
      //form表单标签字体样式
      .ivu-form-item-label {
        font-size: 14px;
        color: #6e6e6e;
      }
  
      &-action {
        position: fixed;
        height: 44px;
        line-height: 44px;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
      }
    }
  
    .memberinfo-container {
      padding: 20px 20px;
  
      &-table {
        margin-top: 10px;
      }

      .permission-container-btn-export{
          float: right ;
      }
    }
  
    .permission-container {
      padding: 20px 20px;
  
      &-table {
        margin-top: 10px;
      }
    }
  }