.baseInfo-warp {
    // padding:5px 500px 0px 500px;
    padding-top:5px;
    width:40%;
    min-width: 400px;
    margin: 0 auto;
    .ivu-form-item-label {
      font-size: 14px;
      font-weight: 700;
    }
}
.baseInfo-body {
    background: #fff;
    padding: 50px 100px 10px 100px;

}
.demo-upload-list-cover {
    display: none;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.6);
  }
  .demo-upload-list:hover .demo-upload-list-cover {
    display: block;
  }
  .demo-upload-list-cover i {
    cursor: pointer;
  }
.info-btn{
      width: 100%;
      height: 50px;
      background-color: #fff;
      text-align: center;
      padding: 10px;
      position: fixed !important;
      bottom: 0px;
      border-bottom: 5px solid rgb(102, 102, 102) !important;
      //border-top: 1px solid #ddd;
}
.info-edit {
  .ivu-input {
    border-bottom-style: none !important;
    background: #fff;
  }
  .ivu-select-selection {
    border-bottom-style: none !important;
    background: #fff;
    color: black;
  }
  .ivu-icon {
    display: none !important;
    background: #fff;
    color: black;
  }
}
.is-required{
  .ivu-form-item-required .ivu-form-item-label:before{
    color:transparent !important;
  }
}