.file{
    .toolbar{
        height: 50px;
        line-height: 50px;
        padding: 0 18px;
        background-color: #fff;
        &-btn{
            float: right;
            margin-top: 7px;
            margin-left: 2px;
        }
    }
    .subarea{
        &-icon{
            font-size: 25px;
            color: #6fb1f4;
            margin-right: 10px;
        }
        &-more{
            font-size: 16px;
            color: #46a93a;
            cursor: pointer;
        }
        strong{
            font-size: 13px;
        }
        &-menu{
            li{
                padding: 5px 2px;
            }
            li:hover{
                background-color: #ddd;
                cursor: pointer;
            }
        }
    }
}