.progress-deviation{
  overflow-y: scroll;
  height: calc(100% - 40px);
  .progress{
    display: flex;
    justify-content: space-between;
    margin: 10px;
    #line{
      border: 1px solid #ddd;
      height:360px;
      width:65%;
    }
    .deviation{
      width: 34%;
    }
  }
  .progress-table{
    margin: 10px;
  }
}