.app-card {
    position: relative;
    width: 100%;
  }
  
  .app-header {
    height: 40px;
    line-height: 40px;
    border-bottom: 1px solid #ddd;
    font-size: 16px;
    padding-left: 20px;
    color: #39f;
  }
  
  .app-main {
    height: 178px;
    position: relative;
    img {
      position: absolute;
      top: 50%;
      left: 15px;
      -webkit-transform: translateY(-50%);
      transform: translateY(-50%);
      height: 53%;
      width: 6%;
    }
    .app-main-content {
      width: 94%;
      position: absolute;
      top: 8%;
      left: 10%;
      // transform: translateY(-50%);
      .app-content-section {
        display: inline-block;
        width: 290px;
        label {
          display: inline-block;
        }
      }
      .app-content-section-create{
        display: inline-block;
        width: 192px;
        label {
          display: inline-block;
        }
      }
      .app-function {
        float: right;
        padding-right: 100px;
      }
      .app-content-comment {
        display: inline-block;
        width: 500px;
        padding-top: 6px;
        label {
          display: inline-block;
        }
      }
      .app-section {
        padding: 5px 0px;
      }
      .app-edit-icon {
        margin-left: 5px;
        cursor: pointer;
        font-size: 17px;
      }
      .app-edit-icon:hover {
        color: #39f;
      }
      b {
        font-size: 14px;
      }
    }
  }
  .ivu-select-single .ivu-select-selection {
    border-top: none;
    border-left: none;
    border-right: none;
    border-radius: 0px;
  }
  .app-search {
    margin-bottom: 5px;
    .app-search-icon {
      font-size: 1rem;
      color: #39f;
    }
  }
  .ivu-icon {
    padding-right: 3px;
  }
  .app-tabs{
      border-top: 1px solid #ddd;
    }