.app-card {
    position: relative;
    width: 100%;
    background-color: #fff;
  }
  .app-left{
    position: absolute;
    top: 10px;
    left: 20px;
  }
  .app-middle{
    position: absolute;
    top: 10px;
    left: 140px;
    width: 90%;
    margin-right: 10%;
  }
  .app-right{
    float: right;
  }
  
  .app-header {
    height: 40px;
    line-height: 40px;
    border-bottom: 1px solid #e8e8e8;
    font-size: 16px;
    padding-left: 20px;
    color: #39f;
  }
  .appIcon{
    width: 100px;
    height:100px;
  }
  .info-upload{
    display: inline-block;
    width:100px;
    vertical-align: middle;
    .info-upload-container{
      width: 100px;
      height:100px;
      line-height: 100px;
    }
  }
  .demo-upload-list-cover {
    display: none;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.53);
  }
  .demo-upload-list:hover .demo-upload-list-cover {
    display: block;
  }
  .demo-upload-list-cover i {
    cursor: pointer;
  }
  .demo-upload-list{
    width: 100px;
    img{
      width: 100px;
    }
  }
  .app-main {
    height: 178px;
    position: relative;
    .app-main-content {
      width: 94%;
      position: absolute;
      top: 8%;
      left: 10%;
      .app-content-section {
        display: inline-block;
        width: 310px;
        
        label {
          display: inline-block;
        }
      }
      .app-content-section-create{
        display: inline-block;
        width: 310px;
        label {
          display: inline-block;
        }
      }
      .app-function {
        float: right;
        padding-right: 100px;
        
      }
      .app-content-comment {
        display: inline-block;
        padding-top: 6px;
        label {
          display: inline-block;
        }
      }
      .app-section {
        padding: 5px 0px;
        font-size: 14px;
      }
      .app-edit-icon:hover {
        color: #39f;
      }
      b {
        font-size: 14px;
      }
    }
  }
  .app-pre{
    width: 87%;
    overflow-y: auto;
    text-overflow: ellipsis;
    white-space: pre-wrap;
    height: 80px;
    word-wrap: break-word;
  }
  .ivu-select-single .ivu-select-selection {
    border-top: none;
    border-left: none;
    border-right: none;
    border-radius: 0px;
  }
  .app-search {
    margin-bottom: 5px;
    .app-search-icon {
      font-size: 1rem;
      color: #39f;
      display: inline-block;
      cursor: pointer;
    }
  }
  .ivu-icon {
    padding-right: 3px;
  }
  .app-tabs{
      border-top: 1px solid #ddd;
  }
  .app-dropdown{
    padding: 5px 0px;
  }
  .app-edit-icon {
    margin-left: 5px;
    cursor: pointer;
    font-size: 17px;
    color: #39f;
    font-weight: bold;
  }
  .app-save-icon{
    margin-left: 5px;
    cursor: pointer;
    color: #39f;
  }
  .user-page {
    margin: 10px;
    overflow: hidden;
  }
  .ivu-dropdown-menu{
    min-width: 60px;
  }
  .app-detail-title{
    color: #39f;
    cursor: pointer;
  }