.war-room{
    background-color: #ffffff;
    width:100%; 
    height:100%;
    overflow: hidden;
    &-toolbar{
        height: 40px;
        display: flex;
        padding: 10px;
        border-bottom: 1px solid #dedede;
        &-title{
            flex:1.5;
            font-size: 14px;
            line-height: 20px;
            color: #262626;
            font-weight: 500;
            /deep/ .ivu-menu{ 
                height: 30px;line-height: 20px;
                a{
                    color: #515a6e;
                }
                .ivu-menu-item-active{
                    a{
                        color: #2d8cf0 !important;
                    }
                }
                .router-link-exact-active {
                    background-color: #fff
                }

            }
        }

        .project{
            &-name{
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                max-width: 200px;
            }
        }

        &-actions{
            flex:1;

            &-process{
                display: inline-block;
                div{
                    display: inline-block;
                    margin: 2px 5px;
                    color: white;
                    border-radius: 2px;
                    padding: 2px 5px;
                    font-size: 12px;
                }
            }
        }
    }
    &-content{
        height: calc(100% - 40px);
    }
}
.right-container{
    overflow:scroll;
    width:20%;
    border:1px solid #ddd;
}
.right-container /deep/ .ivu-tabs-bar{
    margin-bottom: 0px;
}

.right-container /deep/ .ivu-tabs-nav-container{
    font-weight: bold;
}



 /*滚动条样式*/
 .right-container::-webkit-scrollbar {/*滚动条整体样式*/
    width: 4px;     /*高宽分别对应横竖滚动条的尺寸*/
    height: 4px;
}
.right-container::-webkit-scrollbar-thumb {/*滚动条里面小方块*/
    border-radius: 5px;
    -webkit-box-shadow: inset 0 0 5px rgba(117, 112, 112, 0.2);
    background: rgba(117, 112, 112, 0.2);
}
.right-container::-webkit-scrollbar-track {/*滚动条里面轨道*/
    -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
    border-radius: 0;
    background: #f4f6f8;
}
.project-drawer{
    /deep/ .ivu-drawer-body{
        padding: 0px;
    }
}

.error-tip{
    /deep/ .ivu-modal-mask{
        z-index: 10002 !important;
    }
    /deep/ .ivu-modal-wrap{
        z-index: 10002 !important;
    }
}



