.war-room{
    background-color: #ffffff;
    width:100%; 
    height:100%;
    &-toolbar{
        height: 40px;
        display: flex;
        padding: 10px;

        &-title{
            flex:1;
            font-size: 14px;
            line-height: 20px;
            color: #262626;
            font-weight: 500;
        }

        &-actions{
            flex:1;

            &-process{
                display: inline-block;
                div{
                    display: inline-block;
                    margin: 2px 5px;
                    color: white;
                    border-radius: 2px;
                    padding: 2px 5px;
                    font-size: 12px;
                }
            }
        }
    }
}
.right-container{
    overflow:scroll;
    width:20%;
    border:1px solid #ddd;
}
.right-container /deep/ .ivu-tabs-bar{
    margin-bottom: 0px;
}

.right-container /deep/ .ivu-tabs-nav-container{
    font-weight: bold;
}



 /*滚动条样式*/
 .right-container::-webkit-scrollbar {/*滚动条整体样式*/
    width: 4px;     /*高宽分别对应横竖滚动条的尺寸*/
    height: 4px;
}
.right-container::-webkit-scrollbar-thumb {/*滚动条里面小方块*/
    border-radius: 5px;
    -webkit-box-shadow: inset 0 0 5px rgba(117, 112, 112, 0.2);
    background: rgba(117, 112, 112, 0.2);
}
.right-container::-webkit-scrollbar-track {/*滚动条里面轨道*/
    -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
    border-radius: 0;
    background: #f4f6f8;
}
.file-list{
    list-style: none;
    padding: 5px;
    .files-container-item-content{
        padding: 5px;
        &-info{
            display: inline-block;
            vertical-align: top;
            line-height: 20px;
            width: calc(100% - 50px);
            .delete-file{
                float:right;
                cursor:pointer;
            }
            &-content{
                // max-width: 210px;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                width: 100%;
            }
            &-other{
                color: #999;
                width: 100%;
            }
        }
    } 
    .files-container-item-content:hover{
        cursor: pointer;
        background-color: #ddd;
    }
}
.project-drawer{
    /deep/ .ivu-drawer-body{
        padding: 0px;
    }
}

.error-tip{
    /deep/ .ivu-modal-mask{
        z-index: 10002 !important;
    }
    /deep/ .ivu-modal-wrap{
        z-index: 10002 !important;
    }
}



