.content-wrap {
    width: 100%;
}
.detail-com-header{
    border-bottom: 1px solid #ddd;
    background-color: #fff;
    height: 45px;
    overflow: hidden;
    &-status{
        float: left;
        margin-left: 19px;
        border-radius: 10px;
        font-weight: bold !important;
        font-size: 14px !important;
    }
    &-bread{
        float: left;
        height: 45px;
        line-height: 45px;
        &-user{
            color: rgb(76, 175, 80);
            font-size: 16px;
            line-height: 30px;
            font-weight: 600;
            cursor: pointer;
            font-family: 'Open Sans', 'Helvetica Neue', helvetica, arial, verdana, sans-serif;
        }
        &-others{
            color: #808080;
            font-size: 16px;
            margin-left: 10px;
            font-weight: 600;
            font-family: 'Open Sans', 'Helvetica Neue', helvetica, arial, verdana, sans-serif;
        }
    }
    .detail-tabs-child{
        float: right;
        border-left: 1px solid #ddd;
        padding: 2px 9px;
        text-align: center;
        cursor: pointer;
        color: gray;
        &-right{
            vertical-align: middle;
            text-align: center;
            display: inline-block;
            span{
                color: red;
                font-weight: bold;
            }
            p{
                font-weight: bold;
                font-size: 14px;
            }
        }
        img{
            width: 30px;
            vertical-align: middle;
        }
        .icon{
            font-size: 1.9rem;
        }
    }
    .detail-tabs-child:first-child{
        border-right: 1px solid #ddd;
        margin-right: 10px;
    }
    .detail-tabs-child:last-child{
        height: 45px;
        line-height: 45px;
        img{
            border-radius: 30px;
            padding-bottom: 4px;
        }
    }
    .active-item{
        background-color: #ddd;
    }
}
.detail-content{
    background: #ddd;
    overflow: auto;
}
.detail-tabs{
    width: 100%;
    background-color: #fff;
    overflow: hidden;
    border-bottom: 1px solid #ddd;
    
}
.ivu-tag{
    margin-bottom: 4px !important;
    border: none;
}