.file{
    .toolbar{
        height: 50px;
        line-height: 50px;
        padding: 0 18px;
        background-color: #fff;
        &-btn{
            float: right;
            margin-top: 7px;
        }
    }
    .subarea{
        &-icon{
            font-size: 25px;
            color: #6fb1f4;
            margin-right: 10px;
        }
        &-more{
            float: right;
            font-size: 16px;
            color: #46a93a;
            cursor: pointer;
            margin-top: 4px;
            display: none;
        }
        .subarea-more:hover{
            display: block;
        }
        strong{
            font-size: 13px;
        }
    }
}