.member-wrap {
    padding:20px 100px 0px 100px;
    min-height: 760px;
    &-table {
        border:1px solid #ddd;
        padding:10px 475px 50px 475px;
        background: #fff;
    }
    &-page {
        float:right;
        margin-top:10px;
    }
}