.member-wrap {
    padding:20px 100px 0px 100px;
    &-table {
        border:1px solid #ddd;
        padding:10px 300px 50px 300px;
        background: #fff;
    }
    &-page {
        float:right;
        margin-top:10px;
    }
}