.detail-header{
    border-bottom: 1px solid #ddd;
    padding: 5px 10px;
    background-color: #fff;
    &-status{
        float: left;
        margin-left: 19px;
        border-radius: 10px;
        font-weight: bold !important;
        font-size: 14px !important;
    }
    &-bread{
        float: left;
    }
    &-icon{
        float: right;
        font-size: 23px;
        cursor: pointer;
        color: #39f;
        &-back{
            margin-right: 23px;
            background-color: #ccc;
            color: #fff;
            border-radius: 2px;
        }
        &-forward{
            background-color: #ccc;
            color: #fff;
            border-radius: 2px; 
        }
        &-back:hover{
            background-color: #39f;
        }
        &-forward:hover{
            background-color: #39f;
        }
    }
}
.detail-tabs{
    width: 100%;
    background-color: #fff;
    overflow: hidden;
    border-bottom: 1px solid #ddd;
    &-child{
        float: right;
        border-left: 1px solid #ddd;
        padding: 2px 9px;
        text-align: center;
        cursor: pointer;
        color: gray;
        &-right{
            vertical-align: middle;
            text-align: center;
            display: inline-block;
            span{
                color: red;
                font-weight: bold;
            }
            p{
                font-weight: bold;
                font-size: 12px;
            }
        }
        img{
            width: 42px;
            vertical-align: middle;
            padding: 0px 5px;
        }
    }
    &-child:first-child{
        border-right: 1px solid #ddd;
        margin-right: 10px;
    }
    &-child:last-child{
        height: 40px;
    }
    .active{
        background-color: #ddd;
        border-radius: 2px;
        p{
            color: #39f;
        }
    }
}
.ivu-breadcrumb{
    font-size: 18px;
}
.detail-content{
    overflow: auto;
}