.iconfont {
    font-family:"iconfont" !important;
    font-size:16px;
    font-style:normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  @font-face {
    font-family: 'iconfont';  /* project id 677305 */
    src: url('//at.alicdn.com/t/font_677305_58xkl515xxd.eot');
    src: url('//at.alicdn.com/t/font_677305_58xkl515xxd.eot?#iefix') format('embedded-opentype'),
    url('//at.alicdn.com/t/font_677305_58xkl515xxd.woff') format('woff'),
    url('//at.alicdn.com/t/font_677305_58xkl515xxd.ttf') format('truetype'),
    url('//at.alicdn.com/t/font_677305_58xkl515xxd.svg#iconfont') format('svg');
  }
  
  .ivu-modal-header{
    border-bottom: 0px  !important;
    padding: 15px 15px 5px 15px;
    line-height: 1;
  }

  .ivu-modal-footer{
    border-top: 0px  !important;
    padding: 0 15px;
    line-height: 1;
  }
  .ivu-form-item-error .ivu-input {
    border: none !important;
    border-bottom: 1px solid !important;
    box-shadow: none !important;
    border-color: #e0101a !important;
}

  .ivu-input {
    border-top-style: none;
    border-left-style: none;
    border-right-style: none;
    border-radius: 0px;
    box-shadow: none !important;
    border-color: #dddee1 !important;
  }

  .ivu-select-selection{
    border-top-style: none;
    border-left-style: none;
    border-right-style: none;
    border-radius: 0px;
  }

  .ivu-input:focus {
    border-bottom-color: #57a3f3;
    box-shadow: 0 0 0 2px #fff;

}

.ivu-card-body {
  padding: 10px;
}


.shadow {
  -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
  -ms-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
}

.ivu-modal-header {
  background-color:rgb(45, 140, 240);
}

.ivu-modal-header-inner{
 color: #fff;
}

.ivu-modal-close .ivu-icon-ios-close{
  color: #fff;
}

/* .ivu-icon-ios-close-empty{
  color: #fff !important;
} */

.ivu-modal-footer {
  background-color: #e9eaec !important;
  padding: 8px 15px;
}

.ivu-modal-footer .ivu-btn-text{
  border: 1px solid #ddd;
  background-color: #fff;
}


.rfd-tab > .ivu-tabs.ivu-tabs-card > .ivu-tabs-bar .ivu-tabs-tab{
  border-radius: 0;
  background: #E0ECFA;
  border: 1px solid #E0ECFA;
  margin-right: 1px;
  font-size: 16px;
}

.rfd-tab > .ivu-tabs.ivu-tabs-card > .ivu-tabs-bar .ivu-tabs-tab-active{
  border-top: 1px solid #3399ff;
  border-bottom: 1px solid #fff;
  background: #fff;
}

.rfd-tab > .ivu-tabs.ivu-tabs-card > .ivu-tabs-bar .ivu-tabs-tab-focused{
  border-left: 1px solid #ddd !important; 
  border-right: 1px solid #ddd !important; 
  border-bottom: 1px solid #fff !important; 
}

.rfd-tab >.ivu-tabs .ivu-tabs-tabpane {
    flex-shrink: 0;
    width: 100%;
    transition: opacity .3s;
    opacity: 1;
    outline: 0;
    padding: 15px 0px;
    background-color: #f0f0f0;
}
.rfd-tab >.ivu-tabs >.ivu-tabs-bar{
  border-bottom: 1px solid #dddee1;
  margin-bottom: 0px;
}

.app-resource-group-title{
    height: 40px;
    line-height: 40px;
    border-bottom: 1px solid #e8e8e8;
    padding: 0px 15px;
    background-color: #fff;
}

.marright5 {
	margin-right: 5px;
}

.marright10 {
	margin-right: 10px;
}

.martop15 {
	margin-top: 15px;
}
.martop20 {
	margin-top: 20px;
}
.martop5 {
	margin-top: 5px;
}
.martop10 {
	margin-top: 10px;
}
.martop40 {
	margin-top: 40px;
}

.martop45 {
	margin-top: 45px;
}
.martop50{
	margin-top: 50px;	
}

.mt0{
	
margin-top: 0;	
}
.pad15 {
	padding: 15px;
}
.pad20 {
	padding: 20px;
}
.pad10 {
	padding: 10px;
}
.pad5 {
	padding: 5px;
}
.pt15{
	padding-top: 15px;
}
.pt0{
	padding-top: 0px;
}
.pl5{
	padding-left: 5px;
}
.pr5{
	padding-right: 5px;
	
}

.btnActive:hover{
	opacity: 0.5;
}

.marlr {
	margin-left: 5px;
	margin-right: 5px;
}
.marlr2 {
	margin-left: 2px;
	margin-right: 2px;
}
.marlr10 {
	margin-left: 10px;
	margin-right: 10px;
}

.marbottom50{
	margin-bottom: 50px;
} 
.marbottom10{
	margin-bottom: 10px;
} 
.fl {
	float: left;
}
.fr {
	float: right;
}
.clearfix:after {
	content: " ";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}
.disblock{
	display: block;
}
.clear{
	clear: both;
}

* html .clearfix {
	height: 1%;
}
*+html .clearfix {
	min-height: 1px;
}
.p_re {
	position: relative;
}
.radius100{
	border-radius: 100px;
}
.radius10{
	border-radius: 10px;
}
.radius5{
	border-radius: 5px;
}
.radius0{
	border-radius: 0px;
}
.font10{
	font-size: 10px;
}
.font12{
	font-size: 12px;
}
.font14{
	font-size: 14px;
}
.font16{
	font-size: 16px;
}
.font18{
	font-size: 18px;
}
.font20{
	font-size: 20px;
}
.font24{
	font-size: 24px;
}
.font28{
	font-size: 28px;
}
.font34{
	font-size: 34px;
}
.color888{
	color: #888;
}
.color999{
	color: #999;
}
.color444{
	color: #444;
}
.color666{
	color: #666;
}


.color_main{
	color: #335883;;
}
.color_bg{
	background-color: #335883;;
}
.color_red{
	color: #F75F5B;
}

.color_fff{
	color: #fff;
}

.lh25{
	line-height:25px;
}

.bg_ff{
  background-color: #fff;
}


.text-nowrap{
   overflow: hidden;
  text-overflow:ellipsis;
  white-space: nowrap;
}

.info-color{
  color: #2db7f5;
}
.success-color{
  color: #009688;
}
.warning-color{
  color: #ff9900;
}
.error-color{
  color: #ed4014;
}