.child-comments{
    background-color: #fff;
    &-user{
        cursor: pointer;
        color: #FF5722;
    }

    &-item{
        border-bottom: 1px dashed #ddd;
        padding: 5px;
    }
}

.comment-isPraise{
    color: red;
}