.publish{
    &-container{
        background-color: #fff;
        margin-bottom: 5px;
        &-reply{
            padding: 5px;
            /deep/ &-content{
                border-left: 3px solid #ddd;
                background-color: #f7f7f7;
                padding: 5px;
                height: 80px;
                &-message{
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    height: 50px;
                    &-file{
                        display: inline-block;
                        cursor: pointer;
                        width: 200px;
                        border: 1px solid #ddd;
                        border-radius: 3px;
                        padding: 2px;
                        margin: 3px;
                        background-color: white; 
    
                        &-info{
                            display: inline-block;
                            vertical-align: top;
                            p{
                                width: 145px;
                                overflow: hidden;
                                text-overflow: ellipsis;
                                white-space: nowrap;
                            }
                        }
                    }
                }
            }
        }
        &-content{
            height: 220px;
            overflow-y: auto;
            padding: 5px;

            /deep/.face{
                width: 24px;
            }

            /deep/ .paste-img{
                height: 80px;
                margin: 1px;
            }

            /deep/ .file-content{
                display: inline-block;
                cursor: pointer;
                width: 200px;
                border: 1px solid #ddd;
                border-radius: 3px;
                padding: 5px;
                margin: 3px;

                &-info{
                    display: inline-table;
                    vertical-align: top;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    p{
                      width: 145px;
                      overflow: hidden;
                      text-overflow: ellipsis;
                      white-space: nowrap;
                    }
                  }
            }
            

           
        }
        .atwho-view{
            position: absolute;
            top: 0;
            left: 0;
            margin-top: 18px;
            background: white;
            color: black;
            border: 1px solid #DDD;
            border-radius: 3px;
            box-shadow: 0 0 5px rgba(0,0,0,0.1);
            min-width: 120px;
            max-height: 220px;
            overflow: auto;
            overflow-y: auto;
            overflow-x: hidden;
            z-index: 11110 !important;  

            ul{
                list-style: none;
                padding: 0;
                margin: auto;

                li{
                    display: block;
                    padding: 5px 10px;
                    border-bottom: 1px solid #DDD;
                    cursor: pointer;
                    white-space: nowrap;
                }

                .at-high-light{
                    background: #3366FF;
                    color: white;
                }

                li:hover{
                    background: #3366FF;
                    color: white;
                }
            }

            .cur{
                background: #3366FF;
                color: white;
            }


        }

        
       
    }
    &-bar{
        &-left{
            .choice-face{
                cursor: pointer;
                font-weight: bold;
                font-size: 24px;
                color: #FF9800;
                margin-right: 5px;
            }
            .choice-img{
                cursor: pointer;
                font-size: 24px;
                color: green;
                margin-right: 5px;
            }
            .choice-file{
                cursor: pointer;
                font-size: 24px;
                margin-right: 5px;
            }
        }
        &-right{
            text-align: right;
            padding-right: 10px;
            i{
                cursor: pointer;
            }

            button{
                float: right;
                font-weight: bold;
                background-color: #009688 !important;
                color: #ffffff;
                border-radius: inherit;
            }
        }
        .api-emotion{
            overflow-y: scroll;
            max-height: 260px;
            display: flex;
            flex-wrap: wrap;
            .rfd-emotion{
                cursor: pointer;
            }
        }
    }
}

.blankTip{
    position: absolute;
    right: 0px;
    top: -25px;
    background-color: #ddd;
}



/*滚动条样式*/
.api-emotion::-webkit-scrollbar {/*滚动条整体样式*/
    width: 4px;     /*高宽分别对应横竖滚动条的尺寸*/
    height: 4px;
}
.api-emotion::-webkit-scrollbar-thumb {/*滚动条里面小方块*/
    border-radius: 5px;
    -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
    background: rgba(0,0,0,0.2);
}
.api-emotion::-webkit-scrollbar-track {/*滚动条里面轨道*/
    -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
    border-radius: 0;
    background: #e6ecf0;
}
.comment-upload-list{
        float: left;
        width: 60px;
        height: 60px;
        text-align: center;
        line-height: 60px;
        border: 1px solid transparent;
        border-radius: 4px;
        overflow: hidden;
        background: #fff;
        position: relative;
        box-shadow: 0 1px 1px rgba(0,0,0,.2);
        margin-right: 4px;
        margin-bottom: 4px;
        
}
.comment-upload-list img{
    width: 100%;
    height: 100%;
}
.comment-upload-list-cover{
    display: none;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0,0,0,.6);
}
.comment-upload-list:hover .comment-upload-list-cover{
    display: block;
}
.comment-upload-list-cover i{
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    margin: 0 2px;
}
.ivu-poptip-body{
    height: 200px;
}


