.msg-comment{
    background-color: #fff;
    margin-bottom: 10px;
    padding: 0px 15px;
    border-radius: 5px;
    border: 1px solid #ddd;
    width: 60%;
    margin: 0 auto;
    max-width: 600px;
    &-title{
        padding: 5px 0px;
        span{
            font-size: 12px;
            color: #607D8B;
            margin-left: -3px;
        }
        i{
            font-weight: 600;
        }
    }

    &-content{
        border-bottom: 1px solid #ddd;
        font-size: 12px;
        padding: 5px 5px;
    }

    &-href{
        padding: 5px 0px;
        cursor: pointer;
        a{
            color: #607D8B;
        }
    }
}


.notice-creator{
    color: #FF5722;
    font-size: 14px;
}

.notice-relationKey{
    font-size: 14px;
    font-weight: 600;
}

.notice-container{
    padding: 5px 0px 0px 5px;
    word-break: break-all;
    &-relpy{
        padding: 5px 0px 0px 20px;
        &-content{
            padding: 5px;
            background-color: #e6ecf0;
        }
    }
    &-comment{
        padding: 5px 0px 0px 20px;
        &-content{
            padding: 5px;
            background-color: #e6ecf0;
        }
    }
}
