.comments{
    padding: 10px;
    &-header{
        border-bottom: 1px solid #ddd;
        font-size: 14px;
        padding-bottom: 5px;
    }
}
 
.subscribe-bar{
    cursor: pointer;
    margin-right: 15px;
}
.delete-user{
    float:right;
    line-height:17px;
}
.delete-user:hover{
    color: #39f;
}
.instance-dropdown{
    margin-left: 20px;
    .ivu-dropdown-menu{
        max-height: 200px;
        overflow-y: scroll;
    }
}